:root {
  --off-white: #f0f0e6;
}

body {
  background-color: var(--off-white);
}

#app canvas {
  -webkit-mask-image: url("./images/clip.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
